<% form_for [:form, @question], :html => {:class => 'pretty_form'} do |form| %>
  <%= form.label :text, 'Question<span class="small">Enter your question or title</span>' %>
  <%= form.text_field :text %>
  <div class="spacer"></div>
  <%= form.label :instructions, 'Instructions<span class="small">Enter any instructions</span>' %>
  <%= form.text_field :instructions %>
  <div class="spacer"></div>
  <%= form.label :required, 'Required<span class="small">Is this a required question?</span>' %>
  <div class="option"><%= form.check_box :required %></div>
  <div class="spacer"></div>
  <%= form.label :type, 'Type<span class="small">Select what type of answer</span>' %>
  <%= form.select :type, @types, :include_blank => false %>
  <div class="spacer"></div>
  <div class="options"></div>
<% end %>

<script>
  $(function(){
    // focus on question
    $("#question_text").focus();
    // new question
    $('#dialog').dialog('option', 'title', 'New Question');
    $('#dialog').dialog('option', 'height', 380);
    $('#dialog').dialog('option', 'buttons', {
      "Save": function(){
        $("#dialog form").ajaxSubmit({
          beforeSubmit: function(data, jqForm, options){
            $('div.options inputs').each(function(){
              if($(this).val()==""){
                $(this).parent().remove();
              }
            });
          },
          success: function(data, status){
            $("#questions").append(data);
            $("#dialog").dialog('close');
            render();
          },
          clearForm: true
        });
      },
      "Cancel": function(){
        $("#dialog form").clearForm();
        $("#dialog").dialog('close');
      }
    });
    // form stuff
    $("#question_type").change(function(){
      show_correct_form_fields();
    });
    $('form span.ui-icon-plus').live("click", function(){
      $(this).parent().after('<div class="new"><label for="question_option">Option</label><input name="question[options][]" type="text" class="float-left" /><span class="ui-icon ui-icon-plus float-left"></span><span class="ui-icon ui-icon-minus float-left"></span></div>');
    });
    $('form span.ui-icon-minus').live("click", function(){
      $(this).parent().remove();
    });
    show_correct_form_fields();
  });
</script>