<h2 class=""><%= link_to "My Forms", root_url %> > <span id="form_name"><%=h @form.name %></span></h2>
<ul class="jm-buttons ui-widget ui-helper-clearfix">
  <li class="ui-state-default ui-corner-all" id="new_question">
    <span class="ui-icon ui-icon-plus"></span>
  </li>
</ul>
<div style="clear:both;padding-bottom:1em"></div>
<ul id="questions" class="questions jm-list ui-widget ui-helper-clearfix">
  <% @form.questions.sort_by(&:ordinal).each do |question| %>
    <li id="question_<%= question.id %>">
      <a href="javascript:void(0)" class="question ui-state-default ui-corner-all" data-question-id="<%= question.id %>">
        <%= question_icon_helper(question) %>
        <%= question.text %>
      </a>
    </li>
  <% end %>
</ul>
<div id="submit_button" class="section form">
  <h3>Submit Button Text</h3>
  <% form_for @form do |form| %>
    <p><%= form.text_field :submit_button %></p>
    <p><%= form.submit %></p>
  <% end %>
</div>
<div id="recipients" class="section form">
  <h3>Recipients</h3>
  <p>Enter email addresses, separated by comma's.
    <br />Example: John@doe.com,Jill@att.net</p>
  <% form_for @form do |form| %>
    <%= form.text_area :recipients, :value => @form.recipients.join(',') %>
    <%= form.submit %>
  <% end %>
</div>
<div id="message" class="section form">
  <h3>Thank You Message</h3>
  <p>Enter a title and message for your users to see when they successfully fill out a form and submit it. You can also enter a url that they will automatically be forwarded to after a short pause.</p>
  <% form_for @form do |form| %>
    <p>Title: <%= text_field_tag "form[message][title]", @form.message['title'] %></p>
    <%= text_area_tag "form[message][body]", @form.message['body'] %>
    <p>Return To Url: <%= text_field_tag "form[message][return_to_url]", @form.message['return_to_url'] %></p>
    <%= form.submit %>
  <% end %>
</div>
<hr />
<p class="">
  <%= link_to "Delete this form", @form, :confirm => 'Are you sure?', :method => :delete %>
</p>

<div id="dialog"></div>

<script>
  function render(){
    $('#rendered').load('/render/<%= @form.id %>');
  }
  $(function(){
    // open new question dialog
    $('#new_question').click(function(){
      $('#dialog').load('/forms/<%= @form.id %>/questions/new', function(){
        $('#dialog').dialog('open');
      });
    });
    $('.question').live('click', function(){
      var question = $(this);
      $('#dialog').load('/forms/<%= @form.id %>/questions/'+question.attr("data-question-id")+'/edit', function(){
        $('#dialog').dialog('open');
      });
    });
    // slide down question details
    // $("a.question").mouseover(function(){$(this).next('.question_details').slideDown("medium");});
    // $("a.question").mouseout(function(){$(this).next('.question_details').slideUp("fast");});

    // render the form
    render();
    
    // edit form properties
    $('#form_name').editable("<%= form_path(@form) %>", {
        name: 'form[name]',
        method : "PUT",
        submitdata: {
          authenticity_token: <%= form_authenticity_token.to_json %>,
          wants: 'name'
        },
        indicator : "<img src='/images/indicator.gif'>",
        tooltip   : "Click to edit...",
        style  : "inherit"
    });
    // setup submit_button form
    $("div.form form").submit(function(){
      var form = $(this);
      form.ajaxSubmit({
        beforeSubmit: function(){
          form.find("input[type=submit]").val('Saving...');
        },
        success: function(){
          form.find("input[type=submit]").val('Saved');
          setTimeout(function(){form.find("input[type=submit]").val('Saved changes');}, 2000)
        }
      });
      return false;
    });
  });
</script>